body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  overflow-y: hidden;
}

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modeler {
  margin-top: 31px;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 30px);
  width: 100%;
  border: 1px solid #c6c6c6;
}

#js-canvas {
  min-height: 500px;
  flex: 2 1;
}

#js-properties-panel {
  width: 280px;
  border-left: 1px solid #c6c6c6;
}

#tab-manager {
  position: fixed;
  width: 100%;
  height: 30px;
  display: flex;
  background: #f7f7f8;
  align-items: center;
  font-size: small;
}

.tab-item {
  display: flex;
  padding: 8px;
  cursor: default;
  min-width: 75px;
  border-right: 1px solid #b9bcc6;
  position: relative;
  flex-shrink: 0;
}

.tab-item.active {
  border-bottom: 2px solid #000;
}

.tab-item.dirty {
  color: hsl(205, 100%, 50%);;
}

.tab-item:hover:not(.active) {
  border-bottom: 2px solid #b9bcc6;
}

.tab-item p {
  margin: 0;
  color: #000;
}

.tab-item .title {
  margin-right: 10px;
}

.tab-item .close {
  font-weight: bold;
  margin-left: 5px;
  cursor: default;
}

.add-tab {
  font-size: 20px;
  margin-top: -2px;
  padding: 0 5px;
}

.add-tab:hover {
  border-radius: 50px;
  background-color: #c6c6c6;
  cursor: default;
}

#welcome-container {
  padding: 20px;
  background-color: #f7f7f8;
  width: 40%;
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#welcome-container .title {
  font-size: 28px;
}

#welcome-container .subtitle {
  padding: 15px 0px;
  font-style: italic;
  text-align: center;
}

#welcome-container .options {
  display: flex;
  flex-flow: column;
  margin-top: 25px;
}

#welcome-container .options button {
  background-color: white;
  color: black;
  border: 1px solid #555555;
  border-radius: 5px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#welcome-container .options button:hover {
  background-color: #555555;
  color: white;
}

#welcome-container  .options button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}